<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069648341780-enupcfaqf5r8af1f2j8co9c7qsp9ku89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069648341780-enupcfaqf5r8af1f2j8co9c7qsp9ku89</string>
	<key>API_KEY</key>
	<string>AIzaSyD0A7jKVmDxJoZlb2b-qw6HzwZgEiLRcSU</string>
	<key>GCM_SENDER_ID</key>
	<string>1069648341780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.misenpai.clique</string>
	<key>PROJECT_ID</key>
	<string>clique-d0937</string>
	<key>STORAGE_BUCKET</key>
	<string>clique-d0937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069648341780:ios:b7334a1298b3881ceeb001</string>
</dict>
</plist>